@import "../common/styles/sass/mixins";
@import "../common/styles/sass/variables";

.header {
    @include flexPositioning(flex-end, stretch);
    width: 100%;
    background-color: rgba(247, 247, 254, 0.91);
    box-shadow: 0 14px 21px -10px rgba(34, 60, 80, 0.2);
    position: fixed;
    top: 0;
    z-index: 2;
    transition: all 0.2s;
}