@import "sass/mixins";

.wrapperClass {
  position: relative;

  &:before {
   @include beforeElement();
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    filter: blur(45px);
    z-index: -1;
  }
}