@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.mainBlock {
  height: 100vh;
  color: $primaryColor;
  position: relative;
  font-size: 34px;

  &:before {
    @include beforeElement();
  }

  .text {
    width: 500px;

    .highlight {
      color: $accentColor;
    }

    @media screen and (max-width: 540px) {
      width: 100%;
      margin: 0 15px;
    }
  }

  .photo {
    @include flexPositioning(center, stretch);

    & img {
      max-width: 95%;
      min-width: 300px;
      margin-top: 30px;
      //max-height: 500px;
      object-fit: cover;
      box-shadow: 0 5px 28px 12px rgba(24, 41, 54, 0.2);

      @media screen and (min-width: 440px) {
        width: 400px;
        height: 500px;
        margin: 0 15px;
      }
    }
  }
}


