@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.mainBlock {
  height: 110vh;
  color: $primaryColor;
  position: relative;
  font-size: 34px;

  &:before {
    @include beforeElement();
  }

  .text {
    width: 500px;

    .highlight {
      color: $accentColor;
    }

    @media screen and (max-width: 540px) {
      width: 100%;
      margin: 0 15px;
    }
  }

  .photo {
    @include flexPositioning(center, stretch);

    & img {
      max-width: 100%;
      min-width: 300px;
      object-fit: contain;

      @media screen and (min-width: 440px) {
        width: 400px;
        height: 500px;
        margin: 0 15px;
      }
    }
  }

  @media screen and (max-width: 948px) {
    margin-top: 25%;
  }
}


