@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.footerBlock {
  min-height: 20vh;
  color: $primaryColor;

  .footerContainer {
    flex-direction: column;

    .title {
      margin-top: 15px;
    }

  }
}

.socialsWrapper {
  @include flexPositioning(center, stretch);
  width: 280px;
  margin: 15px 0;
  gap: 10px;

  .socialsImg {
    cursor: pointer;
    height: 40px;
    width: 40px;

  }
}

