@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.projectsBlock {
  min-height: 70vh;
  background-color: $secondaryColor;
  background-image: url("../assets/imgs/background/gridme.png");
  background-position: center;
  padding: 100px 0;
  color: $primaryColor;

  .projects {
    width: 100%;
    @include flexPositioning(space-evenly, flex-start);
    flex-wrap: wrap;

    @media screen and (max-width: 1140px) {
      justify-content: center;
    }
  }
}

